<!DOCTYPE html>
<html>
<head>
	<style>
	body{background: #00A4A4; font-family: verdana; color:#FFFFFF; padding: 30px}
	h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center}
	h2{text-align:center}
	#reaminingBattery {
		width: 100%;
		height: 30px;
		position: relative;
		background-color: #ddd;
	}

	#myBar {
		background-color: #4CAF50;
		width: 10px;
		height: 30px;
		position: absolute;
	}
	b{
		background:red;
	}
	</style>
	<script type="text/javascript"> load(<%- connectedEstimotes %>); // used to load the array of objects
	</script>
<header>
	<title>Equipo Dinamita</title>
</header>
</head>
<body>
	<h1>
		ESTIMOTES UI
	</h1>
	<h2>
		<script type="text/javascript">
			document.write(Date());
		</script>
	</h2>
	<div>
		<% for (var i = 0 ; i < connectedEstimotes.length ; i++) {%>
		<p>ID : 
			<%-connectedEstimotes[i].id%></p>
		<p>Temp : <%-connectedEstimotes[i].temp%>°C</p>
		<p> <% if (connectedEstimotes[i].isMoving) { %>
It has been <b>moving for <%-connectedEstimotes[i].motionStateDuration.current.number%> <%-connectedEstimotes[i].motionStateDuration.current.unit%>.</b>
			<%} else {%>
			It has been <b>still for <%-connectedEstimotes[i].motionStateDuration.current.number%> <%-connectedEstimotes[i].motionStateDuration.current.unit%>.</b>
			<%}%>
		<p>Axis
		X: <b><%-connectedEstimotes[i].acceleration.x%></b>
		Y: <b><%-connectedEstimotes[i].acceleration.y%></b>
		Z: <b><%-connectedEstimotes[i].acceleration.z%></b>
		</p>
		<progress max="3.01" value=<%-connectedEstimotes[i].batt%>></progress> <p><%-connectedEstimotes[i].batt%>volts</p>
		<p>______________________</p>
<% } %>
		
	</div>
</body>
</html>